nav {
  background: linear-gradient(to right, #74ab74ad, #92d9e296);
  padding: 1rem;
  position: sticky;
  top: 0;
  z-index: 1000; 
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-start; 
  padding: 0;
  margin: 0;
  gap: 5px; 
}

nav ul li {
  margin: 0;
}

.link {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.link:hover {
  color: #eb9cd6f0;
  background-color: #fff;
  border-radius: 4px;
}

.active {
  font-weight: bold;
  border-bottom: 2px solid #fff;
}
.s{
  margin-top: -1.5rem;
  position: absolute;
  margin-left: 500px;
  width: 40%;
  border-radius: 5px;
  border: 1px solid rgba(232, 191, 232, 0.167);
  color: rgba(179, 136, 218, 0.368);
  
}
.im{
  width: 30px;
  height: 30px;
}
.sm{
  float: right;
  margin-top: -1.5rem;
}
.tb{
  font-weight: bold;
  color: white;
}
.mb{
  border: 1px solid rgba(248, 174, 248, 0.803);
  font-weight: bold;
}
.menu-icon {
  display: none;
}

@media (min-width: 769px) and (max-width: 819px){
  .s {
    width: 21%;
  }
}
@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    background-color: #ecc2edbd;
    position: absolute;
    top: 50px;
    left: 0;
  }

  .nav-links.open {
    display: flex;
    width: 37%;
    border-radius: 4px;
  }

  .nav-links li {
    margin: 5px 0;
  }
  
  .s {
    width: 60%;
    margin: auto;
    margin-top: -1.6rem;
    margin-left: 2.5rem;
  }

  .sm {
    
    justify-content: space-between;
  }

  .sm .im {
    width: 25px;
    height: 25px;
  }
}

@media (max-width: 480px) {
  .nav-links {
    top: 40px;
  }

  .s {
    width: 60%;
    margin: auto;
    margin-top: -1.6rem;
    margin-left: 2.5rem;
  }

  .sm {
    margin-top: -1.6rem;
  }

  .sm .im {
    width: 20px;
    height: 20px;
    margin: 5px 0;
  }
  
}

@media (min-width: 820px) and (max-width: 1194px) {
  .s {
    margin-top: -1.5rem;
    position: absolute;
    margin-left: 500px;
    width: 20%;
    border-radius: 5px;
    border: 1px solid rgba(232, 191, 232, 0.167);
    color: rgba(179, 136, 218, 0.368);
  }
  
}