.dp12{
    width: 80%;
    margin: auto;
    height: 160px;
}
.dp22{
    display: flex ;
    width: 100%;
    height: 180px;
    gap: 1.3%;
}
.p12{
    width: 100%;
    text-align: center;
}
.pn12{
    width: 24%;
    height: 160px;
    text-align: center;
}
.pn22{
    width: 24%;
    height: 160px;
    text-align: center;
}
.pn32{
    width: 24%;
    height: 160px;
    text-align: center;
}
.pn42{
    width: 24%;
    height: 160px;
    text-align: center;
}
.b2{
    float: right;
}

.lm{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.sp1{
    color: red;
    font-weight: bold;
}
.sp{
    font-weight: bold;
}
.xtc{
    margin-top: 1.5rem;
    float: right;
}
.ct{
    margin-top: 11rem;
}