.dp1{
    width: 80%;
    margin: auto;
    height: 160px;
    margin-top: -1rem;
}
.dp2{
    display: flex ;
    width: 100%;
    height: 180px;
    /* background-color: aqua; */
    gap: 1.3%;
}
.p1{
    width: 100%;
    /* margin: auto; */
    font-family: Nunito;
    text-align: center;
}
.pn1{
    width: 24%;
    height: 160px;
    /* background-color: blue; */
    justify-items: center;
    text-align: center;
    border: 1px solid black;
}
.pn2{
    width: 24%;
    height: 160px;
    /* background-color: chartreuse; */
    justify-items: center;
    text-align: center;
    border: 1px solid black;
}
.pn3{
    width: 24%;
    height: 160px;
    /* background-color: blueviolet; */
    justify-items: center;
    text-align: center;
    border: 1px solid black;
}
.pn4{
    width: 24%;
    height: 160px;
    /* background-color: cadetblue; */
    justify-items: center;
    text-align: center;
    border: 1px solid black;
}
.b{
    float: right;
}
.img2{
    width: 50px;
    height: 50px;
    text-align: center;
    justify-items: center;

}
h7{
    font-family: Nunito;
}
@media (max-width: 768px) {
    .h7-product1{
        font-size: 13px;
    }
    /* .p-product1{
        font-size: 7px;
        margin-top: -0.3rem;
    }
    .i2{
        width: 39%;
        height: 22%;
    } */
   
}
@media (max-width: 480px) {
    .p-product1{
        font-size: 7px;
        margin-top: -0.3rem;
    }
    .h7-product1{
        font-size: 10px;
    }
}