.dp1{
    width: 80%;
    margin: auto;
    height: 160px;
    margin-top: -1rem;
}
.dp2{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    height: 180px;
    gap: 1.3%;
}
.p1{
    width: 100%;
    font-family: Nunito;
    text-align: center;
}
.pn1{
    width: 100%;
    height: 160px;
    justify-items: center;
    text-align: center;
    border: 1px solid black;
}
.pn2{
    width: 100%;
    height: 160px;
    justify-items: center;
    text-align: center;
    border: 1px solid black;
}
.pn3{
    width: 100%;
    height: 160px;
    justify-items: center;
    text-align: center;
    border: 1px solid black;
}
.pn4{
    width: 100%;
    height: 160px;
    justify-items: center;
    text-align: center;
    border: 1px solid black;
}
.b{
    float: right;
}
.img2{
    width: 50px;
    height: 50px;
    text-align: center;
    justify-items: center;

}
h7{
    font-family: Nunito;
}

@media (min-width: 501px) and (max-width: 1023px){
    .dp2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    
}
@media (min-width: 1024px) and (max-width: 1194px) {
    .dp2 {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    
}
  @media (min-width: 300px) and (max-width: 500px){
    .dp2 {
        grid-template-columns: repeat(1,1fr);
    }
    
}
  

